@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

*:not(.glyphicon) {
	font-family: 'Nunito' !important;
}

body {
	background: #f7f1f1;
}

#content {
	background: #fff;
	border: 1px solid #CCC;
	padding: 15px 20px 30px 35px;
}

#content .row {
    margin-left: 0px;
}

#brand {
    display: inline;
}

.search-form {
	margin: 0 5px;
}

.search-form form {
	margin: 0;
}

.btn-menu {
    margin: 4px 5px 0 0;
    float: right;
}

.btn-menu a, .btn-menu input {
	padding: 7px 16px !important;
	border-radius: 1px !important;
	border-color: #ccc;
}

.btn, textarea, input[type], button, .model-list {
	border-radius: 0;
}

.model-list {
	border-radius: 0;
}

.nav-pills li > a {
	border-radius: 0;
}

.select2-container .select2-choice {
	border-radius: 0;
}

a.dropdown-toggle b.caret {
    margin-left: 5px;
}
.log-form {
	width: 20em;
	height: 14em;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	flex-flow: column;
	padding: 1em;
}
.log-input-block {
	width: 100%;
	height: 2em;
	display: flex;
	flex-flow: row;
	justify-content: center;
}
.log-input-block label {
	width: 90%;
}
.log-input-block input {
	width: 75%;
	height: 100%;
	padding: 0.5em;
}
.log-input-block input[type=checkbox] {
	height: 50%;
	width: 10%;
}
.btn,
.nav-pills>li.active>a
 {
	background-color: #8e0000 !important;
	color: #fff !important;
}
.btn-default {
	background-color: #f7f1f1 !important;
	color: #404040 !important;
}
a {
	color: #8e0000 !important;	
}
.list-buttons-column {
    display: flex;
    justify-content: space-around;
}
.list-buttons-column a {
	margin: 0 !important;
}
.admin-form {
	margin-top: 5em;
}
.table-responsive {
	height: 33em !important;
    overflow-y: scroll;
}
.model-list {
	width: 100%;
	overflow-x: scroll;
}
.model-list td {
	min-width: 15em;
	max-width: 25em; 
}
.list-buttons-column {
	min-width: 6em !important;
	max-width: 6em !important;
}
.model-list td:nth-child(1) {
	min-width: 1.5em;
}
.i18n_flag img {
    border: 1px solid #8e0000;
}