* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: #444;
}
body {
	overflow-x: hidden;
}
.breadcrums-sec {
	display: flex;
	padding-top: 5.5em;
}
.contacts-sec {
	margin-top: 3em;
	width: 100vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 0 3em 0 3em;
} 
.contacts-info {
	position: relative;
	width: 40vw;
	height: 20em;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	background-color: #f7f1f1;
	padding: 2.5em;
}
.contacts-list {
	display: flex;
	flex-flow: column;
	width: 100%;
	padding-top: 1.5em;
}
.contacts-list li {
	display: flex;
	align-items: center;
	list-style: none;
	font-family: 'Nunito';
	font-weight: 600;
	font-size: 1em;
	color: #444;
	padding: 0.7em 0 0.7em 0;
}
.contacts-list li b {
	font-weight: 900;
	padding-right: 0.5em;
}
.contacts-list i {
	font-size: 1.4em;
	padding-right: 0.5em;
}
.contacts-form {
	position: relative;
	width: 40vw;
	height: 20em;
	border: 0.1em solid #444;
	padding: 4em 2em 2em 2em;
}
.contacts-form form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
}
.form-input, .form-message {
	outline: none;
	box-shadow: none;
	border: 1px solid #444;
	padding: 0.3em 0.5em 0.3em 0.5em;
	font-family: 'Nunito';
	color: #000;
	font-size: 0.9em;
}
.form-message {
	resize: none;
	height: 8em;
}
.form-input:focus, .form-message:focus {
	border: 1.5px solid #8e0000;
}
#name, #email, #topic, #phone {
	width: 45%;
}
#message {
	width: 95%;
}
#send {
	position: absolute;
	outline: none;
	background-color: #8e0000;
	border: 2px solid #8e0000;
	font-family: 'Nunito';
	color: #fff;
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0.3em 0.5em;
	right: 2.7em;
	top: 1em;
	cursor: pointer;
	transition: 0.3s;
}
#send:hover {
	background-color: #fff;
	color: #8e0000;
}
.contacts-title {
	position: absolute;
	left: -0.5em;
	top: -0.5em;
	font-family: 'Nunito';
	font-weight: 600;
	font-size: 1.1em;
	color: #444;
	text-transform: uppercase;
	background-color: #fff;
	padding: 0.5em 1em 0.5em 1em;
	border-right: 0.1em solid #444;
	border-bottom: 0.1em solid #444;
}
.contacts-title::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	border-right: 0.35em solid #fff;
	border-bottom: 0.35em solid #fff;
	border-top: 0.1em solid #fff;
	border-left: 0.1em solid #fff;
	left: 0;
	top: 0;
}
.contacts-map {
	position: relative;
	width: 100vw;
	margin-top: 4em;
	margin-bottom: -0.3em;
}
.contacts-map .contacts-title {
	left: 47%;
	border-left: 0.1em solid #444;
}
.contacts-map .contacts-title::after {
	width: 103%;
	left: -8%;
	border-left: 0.35em solid #fff;
}
#gmap_canvas {
	width: inherit;
	height: 30em;
}
.footer-sec {
	margin-top: 0;
}
@media only screen and (max-width: 1050px) {
	.contacts-sec {
		padding: 0 1em;
	}
	.contacts-info, .contacts-form {
		width: 45vw;
	}
}
@media only screen and (max-width: 870px) {
	.contacts-info, .contacts-form {
		width: 60vw;
	}
	.contacts-form {
		margin-top: 3em;
	}
	.contacts-map .contacts-title {
		left: 45%;
	}
}
@media only screen and (max-width: 670px),
{
	.contacts-info, .contacts-form {
		width: 80vw;
	}
	.contacts-form {
		margin-top: 3em;
	}
	.contacts-map .contacts-title {
		left: 55%;
	}
}
@media only screen and (max-device-aspect-ratio: 9/16),
only screen and (max-device-aspect-ratio: 9/18),
only screen and (max-device-aspect-ratio: 2/3) 
{	
	.breadcrums-sec {
		padding-top: 7em;
	}
	.breadcrums-sec li a {
		font-size: 1.3em;
	}
	.main-header {
		margin-top: -2px;
	}
	.main-menu {
		top: 5.95em;
	}
	.contacts-info, .contacts-form {
		width: 90vw;
		height: 24em;
	}
	.contacts-form {
		margin-top: 3em;
		padding-top: 5em;
	}
	.contacts-map .contacts-title {
		left: 41%;
	}
	.contacts-title {
		font-size: 1.4em;
		font-weight: 900;
	}
	.contacts-list li {
		font-size: 1.2em;
	}
	.contacts-list {
		padding-top: 3em;
	}
	#send {
		font-size: 1.2em;
	}
	.form-input, .form-message {
		font-size: 1.2em;
	}
}