.nav-sec {
	background-color: #444 ;
}
.logo {
	background-image: url(../img/logo-1.png);
}
.phone-num .sec-icon {
	background-image: url(../img/phone-1.png) ;
}
.lang-menu .sec-icon {
	background-image: url(../img/lang-1.png) ;
}
.cat-header {
	background-color: #444 ;	
}
.categories li:hover {
	background-color: #444 ;
}
.categories li:hover > i {
	color: #d40f11;
}
.close-menu {
	border: 0.1vh solid #444 ;
}
.close-menu:hover {
	background-color: #444 ;
}
.slide-text-1 {
	background-color: #444 ;
}
.slide-text-2 {
	border-top: 0.1vh solid #444 ;
}
.more-btn {
	background-color: #444 ;
	color: #d40f11;
}
.pros-list-title {
	color: #d40f11;
}
.pros-icon {
	color: #d40f11;
}
.pros:nth-child(even) {
	background-color: #444 ;
	color: #fff;	
}
.pros:nth-child(odd) {
	background-color: #fff ;
	border-top: 0.1vh solid #444 ;
	border-bottom: 0.1vh solid #444 ;
}
.info-graph-icon {
	font-size: 1.1em;
	margin-right: 0.5em;
	color: #444;
}
.info-graph-counter {
	color: #d40f11;
}
.brand-desc {
	background-color: #444 ;
}
.slider-btn {
	color: #d40f11;
}
.news-header {
	background-color: #444 ;
}
.news-header:hover {
	color: #d40f11;
}
.news-date {
	background-color: #444 ;
	color: #d40f11;
}
.news-title {
	background-color: #444 ;
}
.news-title div:hover {
	color: #d40f11;
}
.footer {
	background-color: #444 ;
}
.soc-net i:hover {
	color: #d40f11;
}
.logo-footer span {
	background-image: url(../img/logo-1.png);
}