* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
body {
	overflow-x: hidden;
}
.items-grid-sec {
	margin-top: 2em;
	padding-bottom: 2em;
}
.breadcrums-sec {
	display: flex;
	padding-top: 5.5em;
}
.items-title {
	color: #000;
	font-size: 1.9em;
	font-family: 'Open Sans';
	font-weight: 400;
	padding-left: 2em;
	padding-bottom: 0.5em;
}
.items-title i {
	padding-right: 0.5em;
}
.items-grid {
	margin-top: 1em;
	width: 100vw;
	padding: 0 2vw 0 2vw;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2em;
}
.item-block {
	list-style: none;
	height: 14em;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}
.item-img {
	max-width: 100%;
	height: auto;
	max-height: 100%;
	border: 2px solid #f7f1f1;
	border-right: none;
}
.item-info {
	display: flex;
	flex-flow: column;
	width: 50%;
	height: inherit;
	background-color: #f7f1f1;
	justify-content: space-between;
	align-items: center;
	padding: 1.5em;
}
.item-model {
	font-family: 'Nunito';
	font-size: 1.2em;
	font-weight: 600;
	color: #444;
}
.item-info ul {
	height: 5em;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
}
.item-info ul li {
	list-style: circle;
	font-family: 'Nunito';
	font-size: 1em;
	color: #444;
	width: 100%;
	font-weight: 600;
	margin-top: 0.3em;
}
.item-info b {
	padding-right: 0.3em;
}
.item-more {
	display: flex;
	width: 70%;
	height: 3em;
	align-items: center;
	justify-content: center;
	font-family: 'Nunito';
	font-size: 1.1em;
	font-weight: 600;
	color: #444;
	text-transform: uppercase;
	border: 1px solid #444;
	transition: 0.3s border;
}
.item-more:hover {
	border: 2px solid #8e0000;
}