* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
body {
	overflow-x: hidden;
}
.breadcrums-sec {
	display: flex;
	padding-top: 5.5em;
}
.news-sec {
	width: 100vw;
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-top: 2em;
	padding-bottom: 2em;
}
.news-main-title {
	width: 100vw;
	color: #000;
	font-size: 1.9em;
	font-family: 'Open Sans';
	font-weight: 400;
	padding-left: 2em;
}
.news-main-title i {
	padding-right: 0.5em;
}
.news-list {
	width: 100vw;
	padding: 2em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 1.5em;
}
.news-item {
	display: flex;
	flex-flow: column;
}
.news-item-header {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
	width: 100%;
	height: 14em;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}
.news-date {
	height: 4em;
	width: 23%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	background-color: #f7f1f1;
	font-family: 'Nunito';
	color: #8e0000;
}
.news-date-day {
	font-size: 2.5em;
	font-weight: 600;
	margin-top: -0.1em;
}
.news-date-month {
	font-size: 1.1em;
	font-weight: 700;
	margin-top: -1em;
}
.news-title {
	height: 4em;
	width: 77%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f7f1f1;
	padding: 0 0.5em 0 1em;
}
.news-title div {
	color: #444;
	font-weight: 700;
	font-family: 'Nunito';
	font-size: 1.1em;
	text-transform: uppercase;
	transition: 0.3s color;
}
.news-short-text {
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 18em;
	align-items: center;
	justify-content: space-between;
	padding: 1.5em;
	border: 2px solid #f7f1f1;
}
.news-short-text p {
	font-family: 'Nunito';
	font-size: 1em;
	color: #000;
	font-weight: 300;
	line-height: 1.6em;
}
.news-more {
	position: relative;
	border: 1px solid #444;
	transition: 0.3s border, 0.3s color;
}
.news-more span {
	position: relative;
	display: flex;
	font-family: 'Nunito';
	font-size: 1.1em;
	color: #444;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0.5em 1em 0.5em 1em;
	z-index: 1;
	transition: 0.3s;
}
.news-more::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #8e0000;
	transform: scaleX(0);
	transition: 0.3s transform;
}
.news-more:hover {
	border: 1px solid #8e0000;
}
.news-more:hover span {
	color: #fff;
}
.news-more:hover::before {
	transform: scaleX(1);
}
.news-pages {
	display: flex;
	margin-top: 1em;
	align-items: center;
}
.news-pages li {
	list-style: none;
	margin: 0 0.5em 0 0.5em;
}
.news-pages a {
	font-family: 'Nunito';
	font-size: 1.1em;
	color: #000;
	padding: 0.2em 0.5em 0.2em 0.5em;
	border: 0.5px solid #000;
}
.cur-page {
	color: #8e0000 !important;
	font-weight: 700;
}