::-webkit-scrollbar { width: 10px; height: 15px;}
::-webkit-scrollbar-button {  display: none; }
::-webkit-scrollbar-track {  background-color: #fff; padding-left: 1px;}
::-webkit-scrollbar-track-piece { display: none;}
::-webkit-scrollbar-thumb { height: 40px; background-color: #666;}

::-moz-scrollbar { width: 10px; height: 15px;}
::-moz-scrollbar-button {  display: none; }
::-moz-scrollbar-track {  background-color: #fff; padding-left: 1px;}
::-moz-scrollbar-track-piece { display: none;}
::-moz-scrollbar-thumb { height: 40px; background-color: #666;}

::-ms-scrollbar { width: 10px; height: 15px;}
::-ms-scrollbar-button {  display: none; }
::-ms-scrollbar-track {  background-color: #fff; padding-left: 1px;}
::-ms-scrollbar-track-piece { display: none;}
::-ms-scrollbar-thumb { height: 40px; background-color: #666;}

.reagent-desc::-webkit-scrollbar { width: 5px; height: 10px;}
.reagent-desc::-webkit-scrollbar-button {  display: none; }
.reagent-desc::-webkit-scrollbar-track {  background-color: transparent; padding-left: 1px;}
.reagent-desc::-webkit-scrollbar-track-piece { display: none;}
.reagent-desc::-webkit-scrollbar-thumb { height: 20px; background-color: #888;}

.reagent-desc::-moz-scrollbar { width: 5px; height: 10px;}
.reagent-desc::-moz-scrollbar-button {  display: none; }
.reagent-desc::-moz-scrollbar-track {  background-color: transparent; padding-left: 1px;}
.reagent-desc::-moz-scrollbar-track-piece { display: none;}
.reagent-desc::-moz-scrollbar-thumb { height: 20px; background-color: #888;}

.reagent-desc::-ms-scrollbar { width: 5px; height: 10px;}
.reagent-desc::-ms-scrollbar-button {  display: none; }
.reagent-desc::-ms-scrollbar-track {  background-color: transparent; padding-left: 1px;}
.reagent-desc::-ms-scrollbar-track-piece { display: none;}
.reagent-desc::-ms-scrollbar-thumb { height: 20px; background-color: #888;}