{% extends "base.html" %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        {% block content %}
        {% for catalog in catalogs %}
            {{ model_localisation(catalog, 'name') }}
            <ul>
                {% for category in catalog.categories %}
                    <li><a href="{{ url_for('products.category_view', category=category.name) }}">{{ model_localisation(category, 'name') }}</a></li>
                {% endfor %}
                {% if catalog.name == 'Labaratory' %}
                    <li> <a href="{{ url_for('products.reagent_category_view') }}">Reagents</a> </li>
                {% endif %}
            </ul>
        {% endfor %}
        {% endblock %}
    </body>
</html>
