* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
.reagents-sec {
	margin-top: 2em;
	padding-bottom: 2em;
}
.breadcrums-sec {
	display: flex;
	padding-top: 5.5em;
}
.reagents-title {
	color: #000;
	font-size: 1.9em;
	font-family: 'Open Sans';
	font-weight: 400;
	padding-left: 2em;
	padding-bottom: 0.5em;
}
.reagents-title i {
	padding-right: 0.5em;
}
.reagents-grid {
	width: 100vw;
	padding: 0 2vw 0 2vw;
	display: flex;
	flex-flow: row wrap;
}
.reagent-block {
	position: relative;
	width: 21vw;
	height: 17em;
	display: flex;
	flex-flow: row;
	align-items: center;
	margin: 1.5vw;
	transition: 0.5s margin;
}
.reagent-prev {
	position: relative;
	height: inherit;
	width: 100%;
	display: flex;
	flex-flow: column;
	cursor: pointer;
	z-index: 2;
}
.reagent-img {
	max-width: 100%;
	height: auto;
	max-height: 80%;
}
.reagent-title {
	height: 20%;
	width: 100%;
	background-color: #f7f1f1;
	display: flex;
	align-items: center;
	padding: 0 1em 0 1em;
	font-family: 'Nunito';
	font-weight: 700;
	font-size: 1.1em;
	color: #444;
	text-transform: uppercase;
	transition: 0.3s color;
}
.reagent-desc {
	position: absolute;
	flex-flow: column;
	height: inherit;
	width: inherit;
	left: 0;
	padding: 1.5em;
	background-color: #f7f1f1;
	font-family: 'Nunito';
	font-weight: 400;
	color: #444;
	overflow-y: scroll;
	z-index: 1;
	transition: 0.5s left;
}
.reagent-desc li {
	list-style: circle;
}
.reagent-desc table {
	margin-top: 1em;
	width: 80%;
	text-align: center;
}
thead {
	padding: 0.3em;
}
.close-desc {
	position: absolute;
	right: 0.5em;
	top: 0.7em;
}
.close-desc i {
	color: #444;
	font-size: 1.2em;
	cursor: pointer;
}
@media only screen and (max-width: 1200px)
{
	.reagents-grid {
		width: 95vw;
		margin-left: auto;
		margin-right: auto;
	}
	.reagent-block {
		width: 27vw;
		height: 20em;
	}
	.reagent-title {
		height: 25%;
	}
}
@media only screen and (max-width: 1120px)
{
	.reagents-grid {
		width: 100vw;
	}
	.reagent-block {
		width: 29vw;
	}
}
@media only screen and (max-width: 970px)
{
	.reagents-grid {
		width: 80vw;
	}
	.reagent-block {
		width: 35vw;
	}
}
@media only screen and (max-width: 870px)
{
	.reagents-grid {
		width: 85vw;
	}
	.reagent-block {
		width: 37vw;
	}
}
@media only screen and (max-width: 820px)
{
	.reagents-grid {
		width: 90vw;
	}
	.reagent-block {
		width: 40vw;
	}
}
@media only screen and (max-width: 750px)
{
	.reagents-grid {
		width: 90vw;
		justify-content: center;
	}
	.reagent-block {
		width: 50vw;
	}
}
@media only screen and (max-width: 580px)
{
	.reagents-grid {
		width: 90vw;
		justify-content: center;
	}
	.reagent-block {
		width: 60vw;
	}
}
@media 
only screen and (max-device-aspect-ratio: 9/16),
only screen and (max-device-aspect-ratio: 9/18),
only screen and (max-device-aspect-ratio: 2/3)
{	
	.reagents-title {
		font-size: 2.5em;
		padding-left: 0.5em;
	}
	.breadcrums-sec {
		padding-top: 7em;
	}
	.breadcrums-sec li a {
		font-size: 1.3em;
	}
	.main-header {
		margin-top: -2px;
	}
	.main-menu {
		top: 5.95em;
	}
	.reagents-grid {
		width: 90vw;
		justify-content: center;
	}
	.reagent-block {
		width: 80vw;
		height: 26em;
	}
	.reagent-img {
		min-height: 80%;
	}
	.reagent-title {
		font-size: 1.35em;
	}
	.reagent-desc {
		padding: 2.3em;
	}
	.reagent-desc li {
		font-size: 1.4em;
	}
	.reagent-desc table {
		width: 90%;
		font-size: 1.4em;
	}
	.close-desc {
		top: 1em;
		right: 0.0.8em;
	}
	.close-desc i {
		font-size: 1.8em;
	}
}