<!DOCTYPE html>
<html>
<head>
  <title>Mediprime | {% block title %}{% endblock %}</title>
  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/fonts.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/scrollbar.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/header.css')}}">
  {% block css %}{% endblock %}

  <script type="text/javascript" src="{{url_for('static', filename='/js/jquery-3.4.1.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='/js/header.js')}}"></script>
  {% block js %}{% endblock %}
</head>
<body>
  <header class="main-header">
    {% block session_url %}
        {{ set_session_url(request.endpoint) }}
        {% endblock %}
    <div class="transparent-layer"></div>
    <section class="nav-sec">
      <a href="{{ url_for('home.home_view') }}"><div class="logo"></div></a>
      <nav class="nav-bar">
        <ul class="main-menu">
          <a href="{{ url_for('home.home_view') }}"><li>{{_('Home')}}</li></a>
          <li id="prod-men">{{_('Products')}}</li>
          <a><li>{{_('Services')}}</li></a>
          <a><li id="company-men">{{_('Company')}}</li></a>
          <a href="contacts.html"><li>{{_('Contacts')}}</li></a>
        </ul>
        <div class="product-menu" id="products">
          <ul class="categories main-cat">
            <span class="cat-header">{{_('Products')}}</span>
            {% if catalogs %}
                {% set catalog_i = namespace(value=1) %}
                {% for catalog in catalogs %}
                    <li id="cat-{{catalog_i.value}}">{{model_localisation(catalog, 'name')}}<i class="fa fa-chevron-right"></i></li>
                    {% set catalog_i.value = catalog_i.value + 1 %}
                {% endfor %}
            {% endif %}
          </ul>
          {% if catalogs and categories %}
              {% set catalog_i = namespace(value=1) %}
              {% for catalog in catalogs %}
                  <ul class="categories sub-cat" id="sub-cat-{{catalog_i.value}}">
                      <span class="cat-header">{{model_localisation(catalog, 'name')}}</span>
                      {% for cat in categories %}
                          {% if cat.catalog_id == catalog.id %}
                              <a href="{{url_for('products.category_view', catalog_name=catalog.name, category_name=cat.name)}}">
                                <li>{{model_localisation(cat, 'name')}}<i class="fa fa-chevron-right"></i></li></a>
                          {% endif %}
                      {% endfor %}
                      {% for rs in reag_subs %}
                          {% if rs.catalog_id == catalog.id %}
                              <a href=""><li>{{model_localisation(rs, 'section_name')}}<i class="fa fa-chevron-right"></i></li></a>
                          {% endif %}
                      {% endfor %}
                  </ul>
              {% set catalog_i.value = catalog_i.value + 1 %}
              {% endfor %}
          {% endif %}

          <ul class="categories sub-cat" id="sub-cat-2">
            <span class="cat-header">Лабораторне</span>
            <a href="reagents.html"><li>Реагенти<i class="fa fa-chevron-right"></i></li></a>
            <a href=""><li>Біохімічні аналізатори<i class="fa fa-chevron-right"></i></li></a>
          </ul>
          <span class="bottom-line"></span>
          <div class="close-menu" id="close-prod"><i class="fa fa-times"></i></div>
        </div>

        <div class="product-menu" id="company">
          <ul class="categories main-cat">
            <span class="cat-header">{{_('Company')}}</span>
            <a href=""><li>Про компанію<i class="fa fa-chevron-right"></i></li></a>
            <a href="{{url_for('news.news_list', page=1)}}"><li>Новини та заходи<i class="fa fa-chevron-right"></i></li></a>
            <a href="brands.html"><li>Бренди<i class="fa fa-chevron-right"></i></li></a>
            <a href="jobs.html"><li>Вакансії<i class="fa fa-chevron-right"></i></li></a>
          </ul>
          <span class="bottom-line"></span>
          <div class="close-menu" id="close-comp"><i class="fa fa-times"></i></div>
        </div>
      </nav>
      <ul class="secondary-menu">
        <li class="phone-num">
          <span class="sec-icon"></span>
          <div class="drop-number">
            <span class="top-tip"></span>
            <a href="tel:+380992454428">
            (+38)-099-245-44-28</a>
        </div>
        </li>
        <li class="lang-menu">
          <span class="sec-icon"></span>
          <div class="drop-lang">
            <span class="top-tip"></span>
            <a href="{{ url_for('home.change_language', language='uk') }}">Українська</a>
            <a href="{{ url_for('home.change_language', language='ru') }}">Російська</a>
          </div>
        </li>
        <div class="mobile-menu-btn"><i class="fa fa-bars"></i></div>
      </ul>
    </section>
    <section class="breadcrums-sec">
      <li><a href="{{ url_for('home.home_view') }}">{{_('Home')}}</a></li>
      {% block breadcrums %}{% endblock %}
    </section>
  </header>
  {% block page_body %}{% endblock %}
  <section class="footer-sec">
    <footer class="footer">
      <div class="logo-footer">
        <span></span>
        <p class="copyright">
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
        </p>
      </div>
      <div class="contacts-footer">
        <li class="contact">
          <h3>Адреса:</h3>вул. Либідська 17, офіс 7, Київ, 01033, Україна
        </li>
        <li class="contact">
          <h3>Телефон:</h3>+38-097-575-70-20
        </li>
        <li class="contact">
          <h3>Email:</h3>office@mediprime.com.ua
        </li>
      </div>
      <div class="useful-links">
        <ul class="links">
          <li><a href="{{ url_for('home.home_view') }}">Головна</a></li>
          <li><a href="">Про нас</a></li>
          <li><a href="">Новини</a></li>
          <li><a href="">Сервісна підтримка</a></li>
          <li><a href="">Контакти</a></li>
        </ul>
        <div class="soc-net">
          <a href=""><i class="fa fa-facebook-square"></i></a>
          <a href=""><i class="fa fa fa-youtube"></i></a>
          <a href="mailto:"><i class="fa fa fa-envelope"></i></a>
        </div>
      </div>
    </footer>
  </section>
</body>
{% block after_js %}{% endblock %}
</html>